*{
    margin: 0;
    padding: 0;
}nav{
    background-color: black;
    color: white; 
    padding: 20px;
}
h1,li,ul{
    display: inline-block;

}
ul{
    margin-left: 60%;
    color: gray;


}
li:hover{
    color: white;
    cursor: pointer;


}
input{
padding: 20px;
width: 60%;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box1{
    
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 100%;
    padding: 20px;
    margin-right: 100px;
    display: inline-block;
    
}
.image{
    text-align: center;
    display: flex;
    padding: 20px;
    margin-left: 200px;
}
.two:hover{
    background-color: black;
    color: white;
}
.aboutus{
    
    margin: 30px;
    text-align: center;
}
.contact{
    background-color: black;
    color: white;
}
.contact{
    text-align: center;
    padding: 30px;
}

    

